//Header
#hold-mobile {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  visibility: hidden;
  background-color:rgba(35, 35, 35, 0.8);
  opacity: 0;
  transition: all 0.35s ease-in-out;
}
.header{
  position: relative;;
  width: 100%;
  top:0;
  font-size: 0;
  padding: 10px 0;
  background-color: $blue-menu;
  z-index: 100;
  box-shadow: 0 0 15px -4px transparent;
  transition: all 0.35s ease-in-out;
  &.fix-header{
    position: fixed;
    z-index: 200;
    transition: all 0.35s ease-in-out;
    transform: translateX(0);
  }
  &.noMenu{
    z-index: 99;
    .logo{
      width: 100%;
      text-align: right;
    }
  }
  .logo{
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    .link{
      height: 35px;
      display: inline-block;
      position: relative;
      &:before{
        content: '';
        display: block;
        width: 319px;
        height: 60px;
        position: absolute;
        left: 0;
        top:0;
        background-image: url($url+"/documents/80379/4627449/isotipo_movistar.png/5a558b0f-77b7-4eb8-b586-94c0901f2503?t=1475704281603");
        background-repeat: no-repeat;
        opacity: 0;
        transition: all .2s  ease-in-out;
      }
    }
    img{
      opacity: 1;
      transition: all .2s  ease-in-out;
    }
  }
  .nav{
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    text-align: right;
    transition: height .3s  ease-in-out;
    ul{
      margin: 0;
      padding: 0;
    }
    li{
      margin: 0 4px;
      padding: 0 10px;
      display: inline-block;
      &.right-line{
        position: relative;
        &:after{
          content: '';
          width: 0;
          height: 68px;
          position: absolute;
          border: 0.5px solid;
          border-color: $blue-menu-line;
          top: -28px;
          margin-left: 12px;       
        }
      }
    }
    .menu-link{
      display: inline-block;
      font-size: 18px;
      color:#ffffff;
      text-decoration: none;
      opacity: .8;
      transition: all .2s ease-in-out;
      font-family: $font-text-regular;
      cursor: pointer;
      padding: 0 20px;
      &:hover{
        opacity: 1;
      }
      &.active{
        opacity: 1;
        color:#ffffff;
        transition: all .2s  ease-in-out;
      }
      &.extra-wide{
        width: 175px;
        text-align: center;
      }
    }
  }
}

// Hamburguesa Menu
.hamburger-menu {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -11px;
  width: $bar-width;
  height: $bar-height + $bar-spacing*2;
  cursor: pointer;
  display: none;
}
.bar,
.bar:after,
.bar:before {
  width: $bar-width;
  height: $bar-height;
}
.bar {
  position: relative;
  transform: translateY($bar-spacing);
  background: #ffffff;
  transition: all 0ms 300ms;

  &.animate {
    background: transparent;
  }
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: $bar-spacing;
  background: #ffffff;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: $bar-spacing;
  background: #ffffff;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
