footer#footer
  .container
    .footer-list
      ul
        li
          a(href="#" target="_blank") Términos y condiciones
        li
          a(href="#" target="_blank") Políticas

    .logoTelf
      a.link(href="http://www.telefonica.com.pe/home/")
        img(src=url+"/documents/80379/4883042/logo_telefonica.png/6f237336-ff5b-4a7a-820a-3d572803efeb?t=1481060186954")
