#hold-mobile

header#header.header.fix-header
  .container
    .logo
      a.link(href="#home")
        img(src=url+"/documents/80379/5002540/header_movistar-logo.png/f31aa809-3e38-4e1e-9976-dd11aaabdf63?t=1486418314692")
    .hamburger-menu
      #barBurguer.bar
    nav#nav.nav
      ul
        li
          a.menu-link(data-id="#home") Inicio
        li
          a.menu-link(data-id="#equipo") Equipo
        li
          a.menu-link(data-id="#contact") Contacto
//- br
//- br
//- br
//- br
//- br
//- 
//- header.header
//-   .container
//-     .logo
//-       a.link(href="#home")
//-         img(src=url+"/documents/80379/4627449/logo_movistar_white.png/2b1c3cb3-e5c2-4841-9baa-3828927a44fe?t=1475704281873")
//-     .hamburger-menu
//-       #barBurguer.bar
//-     nav#nav.nav.horizontal
//-       ul
//-         li
//-           a.menu-link(href="#home") Inicio
//-         li
//-           a.menu-link(href="#equipo") Equipo
//-         li
//-           a.menu-link(href="#contact") Contacto
//- 
//- 
//- br
//- header.header.noMenu
//-   .container
//-     .logo
//-       a.link(href="#home")
//-         img(src=url+"/documents/80379/4627449/logo_movistar_white.png/2b1c3cb3-e5c2-4841-9baa-3828927a44fe?t=1475704281873")
